# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
.history/
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.flutter-plugins
**/ios/Flutter/.flutter-plugins-dependencies
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/GeneratedPluginRegistrant.h
**/ios/Flutter/GeneratedPluginRegistrant.m
**/io.flutter.plugins.shared_preferences.prefs
**/GeneratedPluginRegistrant.swift
**/ephemeral/
**/profile/
**/release/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android Studio local properties
android/local.properties

# Windows clutter
Thumbs.db

# Temp duplicate folder
Money_Mate/

# Private signing keys & configuration
android/key.properties
*.jks
*.keystore
